<html>
  <head>
    <meta name="viewport" content="width=device-width"> 
    <style>
      body {
        background-color: #000;
      }
    </style>
    <title>Lightoy</title>
  </head>
  <body>
    <script src="/static/touchpad.js"></script>
  </body>
</html>
