<html>
  <head>
    <meta name="viewport" content="width=device-width"> 
    <style> 
      button {
        padding: 5px;
      }
      .slider {
        width: 500px;
        height: 20px;
        background-color: #ccc;
      }
      .slider-tab {
        style: inline-block;
        width: 5px;
        height: 20px;
        background-color: #000;
        position: relative;
        left: 100px;
      }
    </style>
    <title>Lightoy</title>
  </head>
  <body>
    <h1>Effect: {{current_effect.name}}</h1>
    <h2>Other effects</h2>
    <form action="/console/effect" method="post">
      {{#other_effects}}
        <input type="submit" name="effect" value="{{name}}" />
        &nbsp;&nbsp;&nbsp;
      {{/other_effects}}
    </form>
    <h2>Effect Params</h2>
    <form action="/console/params" method="post">
      {{#effect_params}}
        <input type="text" name="{{name}}" value="{{cur_value}}" />&nbsp;&nbsp;{{name}}<br>
        <!-- TODO: code duplication -->
        <div class="slider"
             min="{{min_value}}" max="{{max_value}}" value="{{cur_value}}"
             name="{{name}}">
          <div class="slider-tab"></div>
        </div>
      {{/effect_params}}
      <input type="hidden" name="effect" value="{{current_effect.name}}" />
      <button type="submit">Set</button>
    </form>
    <h2>Global Params</h2>
    <form action="/console/params" method="post">
      {{#global_params}}
        <input type="text" name="{{name}}" value="{{cur_value}}" />&nbsp;&nbsp;{{name}}<br>
        <!-- TODO: code duplication -->
        <div class="slider"
             min="{{min_value}}" max="{{max_value}}" value="{{cur_value}}"
             name="{{name}}" global="global">
          <div class="slider-tab"></div>
        </div>
      {{/global_params}}
      <input type="hidden" name="effect" value="global" />
      <button type="submit">Set</button>
    </form>

    <script src="/static/console.js"></script>
  </body>
</html>
