<html>
  <head>
    <meta name="viewport" content="width=device-width"> 
    <style>
      body {
        background-color: #aaa;
      }
    </style>
    <title>Lightoy</title>
  </head>
  <body>
    <script src="/static/script.js"></script>
  </body>
</html>
